.formContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inp{
    border: 2px solid rgb(92, 238, 184);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    background-color: black;
    color: rgb(92, 238, 184);
    text-align: center;
}
.inp::placeholder{
    color: rgb(92, 238, 184);
    text-align: center;
}

.butt{
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
}
.errorText{
    color: red;
    text-align: center;
}
